@{
    ViewData["Title"] = "Home Page";
}

<div id="modalLocation"></div>
<div class="row">
    @for (int i = 0; i < Model.status.Length; i++)
    {
        <div class="col-12 col-md-6 col-lg-3 max-vh p-3 border-2">
            <div class="box-shadow">
                <div class="p-2"><h7>@Model.status[i]</h7></div>
                <div class="content position-sticky scroll-x" id="@Model.status[i]">
                    @for (int j = 0; j < Model.cards.Count; j++)
                    {
                        @if ((int)Model.cards[j].Status == i)
                        {
                            <div class="card" data-order="@Model.cards[j].Position" id="@Model.cards[j].Id">
                                <a data-toggle="ajax-modal" data-target="#editCard" data-url="@Url.Action("Edit")/@Model.cards[j].Id">
                                <div class="card-body">
                                    <h5 class="card-title">@Model.cards[j].Title</h5>
                                    <p class="card-text">@Model.cards[j].Description</p>
                                    <a class="btn btn-warning" data-toggle="ajax-modal" data-target="#editCard" data-url="@Url.Action("Edit")/@Model.cards[j].Id">Edit</a>
                                </div>
                                </a>
                            </div>
                        }
                    }
                </div>
                <div class="px-2 py-1"><a class="btn btn-primary" data-toggle="ajax-modal" data-target="#addCard" data-url="@Url.Action("CreateCard")">Add Card</a></div>
            </div>
        </div>
    }
</div>

@section scripts {
    <script type="text/javascript">
        
        @{
            var statusToDragula = "";
        }
        @foreach (var stat in Model.status)
        {
            statusToDragula += stat + ",";
        }

        var dragulaColumns = [@statusToDragula];




        var columns = @Html.Raw(Json.Serialize(Model.status));

        const loadContainerUrl = "@Url.Action("ajaxReloadColumn")";
        const updateCardPosUrl = "@Url.Action("EditCard")";
        const destroyCardUrl = "@Url.Action("DeleteCard")";

    </script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/SignalR.js"></script>

}